.sign-in1 {
    text-decoration: none;
    position: absolute;
    top: 113px;
    left: calc(50% + 142px);
    color: inherit;
    display: inline-block;
    width: 165px;
    height: 68px;
  }
 
  .sign-up1 {
    font-family: var(--font-roboto);
    text-decoration: none;
    position: absolute;
    top: 113px;
    left: calc(50% + 345px);
    color: inherit;
    display: inline-block;
    width: 194px;
    height: 68px;
  }
  .navbar2,
  .round-full-icon1 {
    position: absolute;
    height: 227px;
  }
  .round-full-icon1 {
    top: 0;
    left: calc(50% - 539px);
    width: 227px;
    object-fit: cover;
  }
  .navbar2 {
    top: 47px;
    left: 189px;
    width: 1078px;
    text-align: left;
    font-size: var(--font-size-31xl);
  }