.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
}

.back-to-home {
    cursor: pointer;
    position: sticky;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--font-outfit);
    color: var(--color-black);
    text-align: center;
    padding: 10px;
    background-color: rgba(246, 158, 123, 1);
    margin-top: 10px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 2px solid black;
  }
  .back-to-home:hover {
    background-color: rgba(246, 158, 123, 0.5);
  }
.find-pet-link{
  
}
