@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-31xl: 50px;
  --font-size-51xl: 70px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-lightsalmon-100: #f69e7b;
  --color-lightsalmon-200: rgba(246, 158, 123, 0.4);
  --color-black: #000;
  --color-gray-100: #fefcfb;
  --color-silver: #c7c7c7;
  --color-peachpuff: rgba(250, 206, 188, 0.6);

  /* Border radiuses */
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-11xl: 30px;
}

.paw-icon1,
.vector-icon8 {
  position: absolute;
  top: 1506px;
  left: calc(50% - 697px);
  width: 345.26px;
  height: 1123.96px;
}
.vector-icon8 {
  top: 12.68px;
  left: calc(50% + 282.86px);
  width: 87.5px;
  height: 93.73px;
}
.vector-icon10,
.vector-icon9 {
  position: absolute;
  top: 1139.23px;
  left: calc(50% - 327.8px);
  width: 88.97px;
  height: 92.3px;
}
.vector-icon10 {
  top: 240.86px;
  left: calc(50% + 162.54px);
  width: 87.5px;
  height: 93.73px;
}
.pets-item,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  top: 1144.23px;
  left: calc(50% - 179.8px);
  width: 88.97px;
  height: 92.3px;
}
.pets-item,
.vector-icon12 {
  top: 1336.23px;
  left: calc(50% - 322.8px);
}
.pets-item {
  top: 986.4px;
  left: calc(50% - 567px);
  border-radius: var(--br-11xl);
  width: 1073px;
  height: 131px;
}
.image-9-icon1 {
  position: absolute;
  top: 200.4px;
  left: calc(50% - 740px);
  width: 1440px;
  height: 904px;
  object-fit: cover;
}
.find-your-new1 {
  position: absolute;
  top: 984.4px;
  left: calc(50% - 533px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1065px;
  height: 123px;
}
.pets2 {
  position: absolute;
  top: 209.6px;
  left: 30px;
  width: 1420px;
  height: 1439.58px;
  font-size: var(--font-size-51xl);
}
.buttonaddtofavourite-child {
  position: absolute;
  top: 0;
  left: calc(50% - 35px);
  border-radius: 50%;
  background-color: #fbfbfb;
  width: 70px;
  height: 70px;
}
.vector-icon13 {
  position: absolute;
  top: 10px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
}
.buttonaddtofavourite {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: calc(50% + 44.5px);
  width: 70px;
  height: 70px;
  mix-blend-mode: normal;
}
.image-2-icon1 {
  position: absolute;
  top: 112px;
  left: calc(50% - 97.5px);
  width: 196px;
  height: 195px;
  object-fit: cover;
}
.bunia1,
.petcard3-item {
  position: absolute;
  top: 307px;
  left: calc(50% - 93.5px);
  width: 187px;
  height: 30px;
}
.petcard3-item {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon-100);
  opacity: 0.2;
}
.bunia1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.petcard31 {
  position: absolute;
  top: 120px;
  left: calc(50% + 9.5px);
  border-radius: var(--br-6xl);
  background-color: var(--color-peachpuff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 354px;
}
.buttonaddtofavourite-item {
  position: absolute;
  top: 0;
  left: calc(50% - 35px);
  border-radius: 50%;
  background-color: var(--color-white);
  width: 70px;
  height: 70px;
}
.buttonaddtofavourite1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: calc(50% + 46.5px);
  width: 70px;
  height: 70px;
  mix-blend-mode: soft-light;
}
.luna1,
.petcard1-item {
  position: absolute;
  top: 307px;
  left: calc(50% - 97.5px);
  width: 187px;
  height: 30px;
}
.petcard1-item {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightsalmon-100);
  opacity: 0.2;
}
.luna1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-4-icon1 {
  position: absolute;
  top: calc(50% - 101px);
  left: calc(50% - 93.5px);
  width: 180px;
  height: 214px;
  object-fit: cover;
}
.petcard11 {
  position: absolute;
  top: 123px;
  left: calc(50% - 532.5px);
  border-radius: var(--br-6xl);
  background-color: var(--color-peachpuff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 354px;
}
.image-6-icon1 {
  position: absolute;
  top: 95px;
  left: calc(50% - 93.5px);
  width: 221px;
  height: 197px;
  object-fit: cover;
}
.buttonaddtofavourite2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: calc(50% + 40.5px);
  width: 70px;
  height: 70px;
  mix-blend-mode: soft-light;
}
.petcard41 {
  position: absolute;
  top: 121px;
  left: calc(50% + 278.5px);
  border-radius: var(--br-6xl);
  background-color: var(--color-peachpuff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 354px;
}
.image-8-icon1 {
  position: absolute;
  top: 69px;
  left: calc(50% - 94.5px);
  width: 164px;
  height: 206px;
  object-fit: cover;
}
.petcard21 {
  position: absolute;
  top: 121px;
  left: calc(50% - 262.5px);
  border-radius: var(--br-6xl);
  background-color: var(--color-peachpuff);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 255px;
  height: 354px;
}
.pets-available-to1 {
  position: absolute;
  top: calc(50% - 61.5px);
  left: calc(50% - 532.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1065px;
  height: 123px;
}
.vector-icon17 {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% + 446.5px);
  width: 32.02px;
  height: 43.89px;
}
.petavailable,
.pettoadoptionwitharrow1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1065px;
  height: 123px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-outfit);
}
.petavailable {
  top: 1444px;
  left: 187px;
  width: 1067px;
  height: 477px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.linksframe-child,
.small-palls1 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1440px;
  height: 490px;
}
.small-palls1 {
  left: calc(50% - 527px);
  font-size: var(--font-size-31xl);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 63px;
}
.contact2 {
  top: 113px;
  left: calc(50% - 531px);
  display: inline-block;
  height: 70px;
}
.contact2,
.email2,
.links2 {
  position: absolute;
  width: 218px;
}
.links2 {
  top: 0;
  left: calc(50% - 109px);
  display: inline-block;
  font-family: var(--font-outfit);
  height: 70px;
}
.email2 {
  top: 66px;
}
.email2,
.instagram2,
.telefono2 {
  text-decoration: none;
  left: calc(50% - 109px);
  color: inherit;
  display: flex;
  align-items: center;
  height: 70px;
}
.telefono2 {
  position: absolute;
  top: 116px;
  width: 218px;
}
.instagram2 {
  top: 166px;
}
.facebook2,
.instagram2,
.small-links2 {
  position: absolute;
  width: 218px;
}
.facebook2 {
  text-decoration: none;
  top: 216px;
  left: calc(50% - 109px);
  font-family: var(--font-outfit);
  color: inherit;
  display: flex;
  align-items: center;
  height: 70px;
}
.small-links2 {
  top: 109px;
  left: 465px;
  height: 286px;
  font-family: var(--font-roboto);
}
.join-our-newsletter1 {
  position: absolute;
  top: 190px;
  left: calc(50% + 43px);
  display: inline-block;
  text-align: center;
  width: 513px;
  height: 70px;
}
.button3,
.submit-email-item {
  position: absolute;
  border-radius: var(--br-xl);
}
.submit-email-item {
  top: 0;
  left: calc(50% - 256.5px);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 513px;
  height: 70px;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lightsalmon-100);
  top: 1px;
  left: calc(50% + 56.5px);
  width: 200px;
  height: 69px;
}
.submit1 {
  position: absolute;
  top: 19px;
  left: calc(50% + 79.5px);
  display: flex;
  align-items: center;
  width: 154px;
  height: 33px;
}
.email-address1,
.submit-email1 {
  position: absolute;
  font-family: var(--font-roboto);
}
.email-address1 {
  border: 0;
  font-size: var(--font-size-21xl);
  background-color: transparent;
  top: 16px;
  left: calc(50% - 215.5px);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 277px;
  height: 32px;
}
.submit-email1 {
  top: 254px;
  left: 740px;
  width: 513px;
  height: 70px;
  color: var(--color-white);
}
.vector-icon19 {
  position: absolute;
  height: 49.99%;
  width: 25.94%;
  top: 25.01%;
  right: 37.03%;
  bottom: 25%;
  left: 37.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-facebook-v1-icon {
  text-decoration: none;
  position: absolute;
  height: 11.44%;
  width: 3.95%;
  top: 64.83%;
  right: 79.25%;
  bottom: 23.73%;
  left: 16.81%;
}
.c-icon,
.group-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  height: 74.34%;
  width: 74.34%;
  top: 12.83%;
  right: 12.83%;
  bottom: 12.83%;
  left: 12.83%;
}
.icon-instagram {
  text-decoration: none;
  position: absolute;
  height: 11.44%;
  width: 3.75%;
  top: 78.81%;
  right: 79.44%;
  bottom: 9.75%;
  left: 16.81%;
}
.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 50%;
  width: 69.53%;
  top: 25%;
  right: 15.23%;
  bottom: 25%;
  left: 15.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  height: 56.71%;
  width: 76.2%;
  top: 21.65%;
  right: 11.9%;
  bottom: 21.64%;
  left: 11.9%;
}
.icon-email {
  text-decoration: none;
  position: absolute;
  height: 11.44%;
  width: 3.75%;
  top: 36.02%;
  right: 79.38%;
  bottom: 52.54%;
  left: 16.88%;
}
.vector-icon24,
.vector-icon25 {
  position: absolute;
  height: 50.16%;
  width: 50%;
  right: 25%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon24 {
  top: 28.13%;
  bottom: 21.72%;
  opacity: 0.2;
}
.vector-icon25 {
  top: 25%;
  bottom: 24.84%;
}
.icon-phone {
  text-decoration: none;
  position: absolute;
  height: 11.44%;
  width: 3.75%;
  top: 50%;
  right: 79.38%;
  bottom: 38.56%;
  left: 16.88%;
}
.links-child {
  position: absolute;
  top: 463px;
  left: calc(50% - 720px);
  background-color: var(--color-lightsalmon-100);
  width: 1440px;
  height: 9px;
}
.links1 {
  top: 18px;
  left: 0;
  height: 472px;
}
.links1,
.linksframe,
.navbar1-item {
  position: absolute;
  width: 1440px;
}
.linksframe {
  top: 2011px;
  left: 0;
  height: 490px;
  text-align: left;
}
.navbar1-item {
  top: 8px;
  left: calc(50% - 720px);
  background-color: var(--color-lightsalmon-200);
  height: 126px;
}
.adoption1,
.home1 {
  text-decoration: none;
  position: absolute;
  top: 48.99px;
  left: calc(50% - 495px);
  line-height: 50px;
  color: inherit;
  display: inline-block;
  width: 122px;
  height: 40.68px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.adoption1 {
  top: 49.8px;
  left: calc(50% - 315px);
  width: 199px;
}
.shelters1,
.vector-icon26 {
  position: absolute;
  top: 26.59px;
  left: calc(50% + 147.54px);
  width: 87.5px;
  height: 76.25px;
}
.shelters1 {
  text-decoration: none;
  top: 50.62px;
  left: calc(50% + 52px);
  line-height: 50px;
  color: inherit;
  display: inline-block;
  width: 202px;
  height: 40.68px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.vector-icon27 {
  position: absolute;
  top: 10.32px;
  left: calc(50% + 383.53px);
  width: 87.5px;
  height: 76.25px;
}
.pets3,
.temporary-house1 {
  text-decoration: none;
  position: absolute;
  top: 30px;
  left: calc(50% + 304px);
  line-height: 50px;
  color: inherit;
  display: inline-block;
  width: 237px;
  height: 96px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.pets3 {
  top: 51.43px;
  left: calc(50% - 78px);
  width: 105px;
  height: 40.68px;
}
.navbar11 {
  position: absolute;
  top: 325px;
  left: 0;
  width: 1440px;
  height: 134px;
  font-family: var(--font-roboto);
}
.homepage1-copy {
  background-color: var(--color-white);
  width: 1440px;
  height: 2501px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
